/*** general ***/

body {
  font-family: "Roboto-Condensed", sans-serif;
  background-color: rgb(251, 238, 228);
}

h2 {
  margin: 15px 0px;
  font-family: "Fjalla One", sans-serif;
}

p,
a {
  font-size: 1.15em;
}
.subtitle {
  margin: 60px 0 20px;
  font-size: 3.3em;
}

.para-1 {
  text-align: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 2px;
  width: 90%;
  border: 0;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0)),
    color-stop(50%, black)
  );
}

.image-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; */

  /* setting up grid container */
  margin: 0 auto;
  padding: 20px;
  width: 1300px; /* increase width if the grid is too small! */

  /* grid properties */
  display: grid;
  grid-template-columns: 280px 280px 280px 280px; /* feel free to change sizes as well */
  grid-auto-rows: 200px;
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.grid-image {
  /* max-width: 280px; */
  max-height: 200px;
  object-fit: cover;
}

.image-pan {
  grid-area: 7 / 1 / 8 / span 4;
}

/* footer layout */
.footer {
  padding-bottom: 60px;
}

.icon-bar {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .icon-bar {
    height: 500px;
  }
}
.icon-bar > img {
  height: 40px;
  margin: 0 15px;
}

#copyright {
  margin-top: 40px;
  text-align: center;
  color: #000;
  font-size: 0.9em;
}
